[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
jupyter = "*"
tqdm = "*"
pandas = "*"
scikit-learn = "*"
openai = "*"
elasticsearch = "*"
tiktoken = "*"
python-dotenv = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
transformers = "*"
sentence-transformers = "*"
dlt = {extras = ["lancedb"], version = "*"}
langchain = "*"
langchain-openai = "*"
langchain-experimental = "*"
langchain-community = "*"
numexpr = "*"
sympy = "*"
langchainhub = "*"
chainlit = "*"
streamlit = "*"
rouge = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
