# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal
# ignore ollama files
ollama_files/
# igonre lancedb
.lancedb
# ignore dlt files
.dlt/
rest_api/
requirements.txt
rest_api_pipeline.py